@import "../node_modules/react-toastify/dist/ReactToastify.min.css";

@import "./styles/sidebar.css";

html,
body,
#root {
    width: 100%;
    height: 100%;
}


.footer {
  position: relative;    
}

.code-text{
  color: crimson;
  
}

